@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
     font-family: "Roboto", sans-serif;
}

.searchbar input:focus{
    border: none;
    outline: none;
}

.spotify-left{
    width: 23vw;
    min-height: 87vh;
}

.songList{
    height: 70vh;
    overflow: scroll;
    scrollbar-width: none;
}

.songList-info{
    width: 84%;
}

.spotify-right{
    width: 77vw;
}

.spotify-right .card{
    height: max-content;
    background: transparent;
    
    &:hover{
        background-color: #1f1f1f;
    }
}

.spotify-right .card-play p{
    bottom: 6.5em;
    right: 1em;
}

.playbar {
    background-color: rgb(118 124 118);
    bottom: 0;
}

.seekbar{
    padding-block: 0.75px;
    bottom: 0.75em;
    left: 0.75em;
    width: 98% !important;
}

.seekbar-circle{
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background: #1f1e1e;
    transition: 0.5s;
    top: -0.3em;
    left: -0.3em;
}

/* Utility CSS start */

.checking{
    border: 2px solid red;
}

.border-icon {
  color: transparent;
  -webkit-text-stroke: 1.5px #000;
}

.bg-grey{
    background-color: #121212;
}

.invert-color{
    filter: invert(1);
}

.invert-half{
    filter: invert(0.7);
}

/* Utility CSS end */