@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
     font-family: "Roboto", sans-serif;
}

:root{
    --a:0;
}

.toggle-sidebar{
    display: none;
}

.searchbar input:focus{
    border: none;
    outline: none;
}

.spotify-left{
    width: 23%;
    min-height: 87vh;
}

.songList{
    height: 70vh;
    overflow: scroll;
    scrollbar-width: none;
}

.songList-info{
    width: 84%;
}

.spotify-right{
    width: 77%;
}

.spotify-right .card{
    height: max-content;
    background: transparent;
    cursor: pointer;
    &:hover{
        background-color: #1f1f1f;
        --a:1;
    }
}

.spotify-right .card-play p{
    bottom: 8em;
    right: 1em;
    opacity: var(--a);
    transition: 0.5s;
}

.playbar {
    background-color: rgb(118 124 118);
    bottom: 0;
}

.songInfo{
    width: 100%;
}

.songInfo .songname{
    width: 45%;
}

.songInfo .controls{
    width: 30%;
}

.songInfo .songtiming{
    width: 25%;
}

.seekbar{
    padding-block: 0.75px;
    bottom: 0.75em;
    left: 1.5em;
    width: 96% !important;
}

.seekbar-circle{
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    background: #1f1e1e;
    transition: 0.5s;
    top: -0.3em;
    left: 0;
}

.songtiming input[type="range"]
{
    accent-color: rgb(105, 104, 104);
}

/* Utility CSS start */

.checking{
    border: 2px solid red;
}

.border-icon {
  color: transparent;
  -webkit-text-stroke: 1.5px #000;
}

.bg-grey{
    background-color: #121212;
}

.invert-color{
    filter: invert(1);
}

.invert-half{
    filter: invert(0.7);
}

.cursor-pointer{
    cursor: pointer;
}

/* Utility CSS end */

@media (min-width: 600px) and (max-width: 900px) {
  .spotify-left {
    left: -100%;
    position: absolute;
    width: 0em;
    background: rebeccapurple;
    /* opacity: 0; */
    pointer-events: none;
    transition: 0.3s;
    /* z-index: 1; */
  }

  .spotify-right {
    width: 100%;
    transition: width 0.3s ease;
    z-index: 1;
  }

  .toggle-sidebar{
    display:flex;
}

  .card-title{
    font-size: 14px;
    transition: width 0.3s ease;
  }

  .card-text{
    font-size: 10px;
    transition: width 0.3s ease;
  }

.searchbar input{
    display: none;
    transition: width 0.3s ease;
}

  .install-app,.sign-up{
    display: none;
    transition: width 0.3s ease;
  }

}